/* ==== Wizard Steps ==== */
.wizard-step tfoot td {
    text-align: right;
}

.wizard-step-progress span.icon {
    border-radius: 50%;
    color: gray;
    padding: 1px;
    font-weight: bold;
    border: solid 1px currentColor;
    display: inline-block;
    height: 0.8rem;
    width: 0.8rem;
    position: relative;
}
.wizard-step-progress span.icon:before {
    content: ' ';
    display: block;
    left: 1px;
    width: .8rem;
    height: 0.8rem;
    top: -1px;
    position: absolute;
}
.wizard-step-progress span.icon.complete {
    background-color: forestgreen;
    color: #fff;
    border-color: forestgreen;
}
.wizard-step-progress span.icon.complete:before {
    content: '✓';
}

.step-navigation {
    display: flex;
    justify-content: space-between;
    background: #fff;
    padding: 0.5rem;
    border: solid 1px lightgray;
}
.step-navigation a.prev, .step-navigation a.next {
    text-decoration: none;
    color: inherit;
    font-size: 1.3rem;
}
.step-navigation a.prev[aria-disabled], .step-navigation a.next[aria-disabled] {
    color: lightgray;
    cursor: default;
}
.step-navigation button.mark-complete {
    background: transparent;
    border: solid 1px lightgray;
    border-radius: 0.5rem;
    padding: 0.25rem;
}
.step-navigation button.mark-complete.complete {
    border-radius: 50%;
    aspect-ratio: 1 / 1;
    background-color: forestgreen;
    color: #fff;
    height: 1.6rem;
    width: 1.6rem;
}
.step-navigation button.mark-complete:hover {
    cursor: pointer;
}
.step-navigation button.mark-complete:before {
    content: '✓';
}

/* ==== Advanced ==== */
.tab-advanced label {
    display: block;
    font-weight: 600;
}

.tab-advanced textarea[name=config] {
    display: block;
    width: 100%;
    min-height: 10rem;
    white-space: nowrap;
    font-family: Consolas,Monaco,monospace;
    font-size: 12px;
}

.tab-advanced .postbox-container code {
    display: block;
    overflow-x: scroll;
    max-width: 270px;
}

#wpbody-content:has(.tab-advanced) {
    padding-bottom: 0px;
    min-height: calc(100vh - 47px);
}

/* ==== Log messages ==== */
#log-container {
    width: calc(100% + 20px);
    background-color: #ffffff;
    clear: both;
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 10;
}
#log-container > button {
    border: solid 1px lightgray;
    transform: translateY(-50%);
}
ul.logs {
    font-family: Consolas,Monaco,monospace;
    margin: 0;
    max-height: 0rem;
    overflow-y: scroll;
    padding: 0 20px;
}
#log-container.expand ul.logs {
    max-height: 10rem;
}
ul.logs li:before {
    content: 'Info: ';
    color: #0dcaf0;
    font-weight: bold;
}
ul.logs li.error:before {
    content: 'Error: ';
    color: #dc3545;
}
ul.logs li.success:before {
    content: 'Success: ';
    color: #198754;
}

/* ==== Status messages ==== */
ul.messages {
    position: fixed;
    bottom: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: end;
    padding: 1rem;
    z-index: 11;
}
ul.messages li {
    padding: 0.5rem;
    background-color: #0dcaf0;
    border-style: none;
    border-width: 1px;
    transition: all 0.5s ease;
    transform: translateX(10px);
    opacity: 0;
    visibility: hidden;
    /*display: none;*/
    animation-name: message;
    /*animation-delay: 5s;*/
    animation-duration: 6s;
    /*animation-fill-mode: forwards;*/
}
ul.messages li.show {
    transform:none;
    opacity: 1;
}

ul.messages li.error {
    background-color: #dc3545;
    color: white;
}

ul.messages li.success {
    background-color: #198754;
    color: white;
}

@keyframes disappear {
    0%   {opacity: 1;}
    99%  {opacity: 0;}
    100% {opacity: 0; display: none; visibility: hidden;}
}
@keyframes message {
    0% {opacity: 0; visibility: visible; transform: translateX(10px);}
    10% {opacity: 1;  visibility: visible; transform: none;}
    90% {opacity: 1; visibility: visible; transform: none;}
    99% {opacity:0; visibility: visible; transform: none;}
    100% {opacity:0; visibility: hidden;}
}
